<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="author" content="Kevin Li" />
  <meta name="keywords" content="ZK Kevin Zhuo" />
  <meta name="description" content="Kevin Li's site" />

  <link href="{{ site.baseurl }}/assets/css/common.css" type="text/css" rel="stylesheet" />
  <link href="{{ site.baseurl }}/assets/css/lib/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet" />

  <script src="{{ site.baseurl }}/assets/js/lib/jquery.min.js"></script>
</head>
<body>
  <header>
    <div id="nav-bar">
      <div class="nav-left">
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li class="active">
            <a href="/blog/">Blog</a>
          </li>
          <li>
            <a href="/projects/">Projects</a>
          </li>
          <li>
            <a href="/gallery/">Gallery</a>
          </li>
          <li>
            <a href="/about/">About</a>
          </li>
        </ul>
      </div>
      <div class="nav-right"></div>
    </div>
  </header>
