<link href="{{ site.baseurl }}/assets/css/sidebar.css" type="text/css" rel="stylesheet" />

<div class="sidebar">
  <div class="announcement">
    <div class="announcement-title">
      ANNOUNCEMENT
    </div>
    <div class="announcement-content">
      Welcome to my blog, guys! I will use it to post technique notes, summary and whatever shouts out in my head, if not too lazy to write it down. 🙃
    </div>
  </div>
  <div class="follow-block">
    <div>Follow Me Via</div>
    <div class="follow-icons">
      <ul>
        <li>
          <a href="https://www.facebook.com/zhuolikevin" title="Facebook" target="_blank" class="icon-facebook">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/zhuokevinli" title="Twitter" target="_blank" class="icon-twitter">
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/zhuolikevin" title="LinkedIn" target="_blank" class="icon-linkedin">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/zhuolikevin" title="GitHub" target="_blank" class="icon-github">
            <i class="fa fa-github-square" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/feed.xml" title="RSS" target="_blank" class="icon-rss">
            <i class="fa fa-rss-square" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="tag-block">
    <div class="tag-block-title">Tags</div>
    <div class="tag-block-content">
      {% capture tags %}
        {% for tag in site.tags %}
          {{ tag[0] }}
        {% endfor %}
      {% endcapture %}
      {% assign sortedtags = tags | split:' ' | sort %}
      <ul>
        {% for tag in sortedtags %}
          <li>
            <a href="{{ site.baseurl }}/tags/?tag={{ tag }}">{{ tag }}&nbsp;({{ site.tags[tag] | size }})</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
