<link href="{{ site.baseurl }}/assets/css/sidebar.css" type="text/css" rel="stylesheet" />

<div class="sidebar">
  <div class="announcement">
    The blog is under construction. It should be done in a few weeks.
  </div>
  <div class="tag-block">
    <div class="tag-block-title">Tags</div>
    <div class="tag-block-content">
      {% capture tags %}
        {% for tag in site.tags %}
          {{ tag[0] }}
        {% endfor %}
      {% endcapture %}
      {% assign sortedtags = tags | split:' ' | sort %}
      <ul>
        {% for tag in sortedtags %}
          <li>
            <a href="{{ site.baseurl }}/tags/?tag={{ tag }}">{{ tag }}&nbsp;({{ site.tags[tag] | size }})</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
