#nav-bar ul {
  margin: 0 !important;
  li { list-style: none; }
}
html {
  height: 100%;
}
body {
  height: calc(100% - 50px);
  background: #f5ead7 !important;
}
#nav-bar { font-family: "lato-regular" !important; }
blockquote {
  letter-spacing: 0 !important;
  font-style: normal !important;
}
code {
  margin: 0 2px !important;
  padding: 2 5px !important;
  background-color: #f9f9f9 !important;
  font-family: monospace !important;
  font-size: 90% !important;
  vertical-align: text-bottom !important;
}
pre {
  background-color: #f5f2f0 !important;
  border: 1px solid #ccc !important;
  code {
    background-color: #f5f2f0 !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}
table {
  border: 1px solid #c1c1c1;
  border-collapse: collapse;
  tr {
    border-bottom: 1px solid #ddd;
    &:nth-child(2n+1) { background: #eeeeee; }
  }
  thead {
    border-bottom: 2px solid #c1c1c1;
    tr { background: transparent !important; }
  }
  th, td {
    padding: 5px 10px;
    vertical-align: initial;
    border: 1px solid #c1c1c1;
  }
}
#source-description a { text-decoration: none !important; }
