#nav-bar ul {
  margin: 0 !important;
  li { list-style: none; }
}
html {
  height: 100%;
}
body {
  height: calc(100% - 50px);
  background: #f5ead7 !important;
  font-family: "hanyi-poem", "lato-regular" !important;
}
#source-description a { text-decoration: none !important; }
