{% include header.html %}
<title>{{ page.title }} - Blog - ZK's site</title>
<link href="{{ site.baseurl }}/assets/main.css" type="text/css" rel="stylesheet" />
<link href="{{ site.baseurl }}/assets/css/layout.css" type="text/css" rel="stylesheet" />
<link href="{{ site.baseurl }}/assets/css/post.css" type="text/css" rel="stylesheet" />

<div class="layout-wrapper">
  <div class="layout-blog">
    <div class="layout-left">
      {% include sidebar.html %}
    </div>

    <div class="layout-right">
      <div class="post-title-block">
        <div class="post-title">{{ page.title }}</div>
        <div class="post-tags">
          {% for tag in page.tags %}
          <span>{{ tag }}</span>
          {% endfor %}
        </div>
        <div class="post-time">{{ page.date | date: "%b %d, %Y" }}</div>
      </div>
      <div class="post-content-block">
        {{ content }}
      </div>
      <div class="post-foot-block">
        <div class="post-foot-previous">
          {% if page.previous == nil %}
            <span class="no-more">This is the first post</span>
          {% else %}
            <a href="{{ site.baseurl }}{{ page.previous.url }}">Previous&nbsp;:&nbsp;{{ page.previous.title }}</a>
          {% endif %}
        </div>
        <div class="post-foot-next">
          {% if page.next == nil %}
            <span class="no-more">This is the last post</span>
          {% else %}
            <a href="{{ site.baseurl }}{{ page.next.url }}">Next&nbsp;:&nbsp;{{ page.next.title }}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% include footer.html %}
