{% include header.html %}
<title>All Posts - Blog - ZK's site</title>
<link href="{{ site.baseurl }}/assets/main.css" type="text/css" rel="stylesheet" />
<link href="{{ site.baseurl }}/assets/css/layout.css" type="text/css" rel="stylesheet" />
<link href="{{ site.baseurl }}/assets/css/summary.css" type="text/css" rel="stylesheet" />

<div class="layout-wrapper">
  <div class="layout-blog">
    <div class="layout-left">
      {% include sidebar.html %}
    </div>

    <div class="layout-right">
      {{ content }}
    </div>
  </div>
</div>

{% include footer.html %}
